.dropdown-toggle::after {
    display:none
}

.actor-card {
	padding-top: 15px;
}

.actor-img {

	width: 50%;
	padding-top: 10%;
	
}

.alone-actor-img {
	width: 80%;
	padding: 0px;
	margin: 0px;
}

.actor-media {
	padding-top: 2%;
}

.paragraph {
	
	text-align: left;
	
}

.breadcrumb-link {
    color: black;
}
.breadcrumb-link:visited {
    color: black;
}
.breadcrumb-link:hover {
    color: white;
	text-decoration: none;
}
.breadcrumb-link:active {
    color: white;
}
/*body...*/
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.center {
  text-align: center;
}


/* navbar */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 0px 0;
  box-shadow: 0px 7px 0px #dedede;

}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: #aaa;
  font-weight: 900 ;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #87CEEB;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 70%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
