
.actor-p {

	
	
}

.footer-font-resp {
	font-size:calc(12px + 0.3vw);
}

.kratka-vest {
		
	padding-top: 10%;
		
}
.social-links::hover {
	text-decoration: none;
	color: red;
}

.dropdown-toggle::after {
    display:none;
}
.dropdown-item:hover{
  background-color: lightblue;
  width:85%;
  text-decoration: none;
}
.actor-card {
	padding-top: 15px;
}

.actor-img {

	width: 50%;
	padding-top: 10%;
	
}

.alone-actor-img {
	width: 80%;
	padding: 0px;
	margin: 0px;
}

.actor-media {
	padding-top: 2%;
}

.paragraph {
	
	text-align: left;
	font-size:calc(12px + 0.3vw);
	
}

.breadcrumb-link {
    color: black;
}
.breadcrumb-link:visited {
    color: black;
}
.breadcrumb-link:hover {
    color: white;
	text-decoration: none;
}
.breadcrumb-link:active {
    color: white;
}
/*body...*/
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
footer a:hover{
  text-decoration: none;
}
.center {
  text-align: center;
}
/*hover preko sponzora*/
.sponsor-container {
  position: relative;
  width: 100%;
}

.sponsor-image {
  display: block;
  width: 100%;
  height: auto;
}

.sponsor-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0059b3;

}

.sponsor-container:hover .sponsor-overlay {
  opacity: 0.95;
}

.sponsor-text {
  color: black;
  opacity:0.7;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
a.sponsor-text:hover {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  opacity:1;
}
/* navbar */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 0px 0;
  box-shadow: 0px 7px 0px #dedede;

}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  font-style: none;
  display: block;
  padding: 0px;
  text-decoration: none;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 10px;
}
nav div ul li a.nav-link {
  font-size:10pt !important;
}
nav ul li a:after {
  transition: all .5s;
}
nav ul li a:before {
  transition: all 10.0s;
}
nav ul li a:hover {
  color: #555;
}


/* stroke */
nav.stroke ul li a{
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #87CEEB;/*boja linije ispod*/
  height: 2px;
  opacity: 0.5;
}
nav.stroke ul li a:hover:after {
  width: 70%;
}

nav.stroke ul li a.dropdown-item {
  text-transform: lowercase;
  transition: all 0.5s;
}
/*Dropdown part*/
nav.stroke ul li a.dropdown-item.selected{
  text-overflow: 100;
  color:black;
  background-color: #DCDCDC;
  width:85%;
  font-weight: bold;
  opacity: 0.9;
}
nav.stroke ul li a.dropdown-item:after {
  position: absolute;
  bottom: 1;
  left: 0;
  right: 0;
  margin: auto;
  width: 10%;
  content: '.';
  color: transparent;
  background: #87CEEB;
  height: 0px;
}
nav.stroke ul li a.dropdown-item:hover:after {
  width: 10%;
}

/*
nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #87CEEB;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
*/